**/.env
**/.env.development
**/.env.production
**/*.log
**/node_modules
**/dist
**/downloads
**/screenshots
**/yarn-error.log
**/error.log
**/compiled/*.mv
.ligoproject
._.DS_Store

# Python
__pycache__/
venv/
.python-version

# Windows
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/$RECYCLE.BIN/

# OSX
**/.DS_Store

# Temp
./src/contracts

# Webstorm IDE
./.idea
**/.idea/**

# VS CODE
.VSCodeCounter
