[submodule "src/indexer/dipdup"]
	path = src/indexer/dipdup
	url = https://github.com/dipdup-io/dipdup
    revision = next
[submodule "src/contracts/vendors/taquito"]
	path = src/contracts/vendors/taquito
	url = https://github.com/mavryk-network/taquito
	branch = mv-addresses
[submodule "src/contracts/vendors/create-lambda-bytes"]
	path = src/contracts/vendors/create-lambda-bytes
	url = https://github.com/mavrykfinance/create-lambda-bytes
	branch = mv-addresses
