tezos-chain:
  accounts:
    mavryk:
      # mv1V4h45W3p4e1sjSBvRkK2uYbvkTnSuHg8g
      key: edskS1oSBMgeLzU7dHxizjswEJipSXMoa1yA668v5bSZwPYAADC71qSwsdXXGSbBtA8eej5XJHCTxD96w9KG36FyrhVdxbNenw
      is_bootstrap_baker_account: true
      bootstrap_balance: '9700000000000'
      
  node_config_network:
    activation_account_name: mavryk
    chain_name: MAVRYK_BASENET_2023-11-30T07:01:13Z
    genesis:
      block: BLockGenesisGenesisGenesisGenesisGenesis5efd5YURnm5
      protocol: Ps9mPmXaRzmzk35gbAYNCAw6UXdE2qoABTHbN2oEEc1qM7CwT9P
      timestamp: "2023-11-30T07:01:13Z"

  activation:
    protocol_hash: PtAtLasLVMXnJGQPjVwVsLse9ncWgqCu32NKRsUM8R5u6RRDn5v
    protocol_parameters:
      preserved_cycles: 2
      blocks_per_cycle: 8
      blocks_per_commitment: 4
      nonce_revelation_threshold: 4
      blocks_per_stake_snapshot: 4
      cycles_per_voting_period: 8
      hard_gas_limit_per_operation: '1040000'
      hard_gas_limit_per_block: '2600000'
      proof_of_work_threshold: '4611686018427387903'
      minimal_stake: '6000000000'
      minimal_frozen_stake: '600000000'
      vdf_difficulty: '50000'
      origination_size: 257
      issuance_weights:
        base_total_issued_per_minute: '85007812'
        baking_reward_fixed_portion_weight: 5120
        baking_reward_bonus_weight: 5120
        attesting_reward_weight: 10240
        liquidity_baking_subsidy_weight: 1280
        seed_nonce_revelation_tip_weight: 1
        vdf_revelation_tip_weight: 1
      cost_per_byte: '250'
      hard_storage_limit_per_operation: '60000'
      quorum_min: 2000
      quorum_max: 7000
      min_proposal_quorum: 500
      liquidity_baking_toggle_ema_threshold: 1000000000
      max_operations_time_to_live: 240
      minimal_block_delay: '15'
      delay_increment_per_round: '8'
      consensus_committee_size: 7000
      consensus_threshold: 4667
      minimal_participation_ratio:
        numerator: 2
        denominator: 3
      limit_of_delegation_over_baking: 9
      percentage_of_frozen_deposits_slashed_per_double_baking: 7
      percentage_of_frozen_deposits_slashed_per_double_attestation: 50
      cache_script_size: 100000000
      cache_stake_distribution_cycles: 8
      cache_sampler_state_cycles: 8
      dal_parametric:
        feature_enable: false
        number_of_slots: 256
        attestation_lag: 4
        attestation_threshold: 50
        blocks_per_epoch: 1
        redundancy_factor: 16
        page_size: 4096
        slot_size: 1048576
        number_of_shards: 2048
      smart_rollup_arith_pvm_enable: false
      smart_rollup_origination_size: 6314
      smart_rollup_challenge_window_in_blocks: 80640
      smart_rollup_stake_amount: '10000000000'
      smart_rollup_commitment_period_in_blocks: 60
      smart_rollup_max_lookahead_in_blocks: 172800
      smart_rollup_max_active_outbox_levels: 80640
      smart_rollup_max_outbox_messages_per_level: 100
      smart_rollup_number_of_sections_in_dissection: 32
      smart_rollup_timeout_period_in_blocks: 40320
      smart_rollup_max_number_of_cemented_commitments: 5
      smart_rollup_max_number_of_parallel_games: 32
      smart_rollup_reveal_activation_level:
        raw_data: 
          Blake2B: 0
        metadata: 0
        dal_page: 2147483646
        dal_parameters: 2147483646
      smart_rollup_private_enable: true
      smart_rollup_riscv_pvm_enable: false
      zk_rollup_enable: false
      zk_rollup_origination_size: 4000
      zk_rollup_min_pending_to_process: 10
      zk_rollup_max_ticket_payload_size: 2048
      global_limit_of_staking_over_baking: 5
      edge_of_staking_over_delegation: 2
      adaptive_issuance_launch_ema_threshold: 1600000000
      adaptive_rewards_params:
        issuance_ratio_min:
          numerator: "1"
          denominator: "2000"
        issuance_ratio_max:
          numerator: "1"
          denominator: "20"
        max_bonus: "50000000000000"
        growth_rate: 
          numerator: "1"
          denominator: "100"
        center_dz:
          numerator: "1"
          denominator: "2"
        radius_dz: 
          numerator: "1"
          denominator: "50"
      adaptive_issuance_activation_vote_enable: false
      autostaking_enable: true

  nodes:
    mavryk-baking-node:
      instances:
        - bake_using_accounts:
            - mavryk
          config:
            shell:
              history_mode: archive
            rpc:
              cors-headers: [ "content-type" ]
              cors-origin: [ "*" ]
          is_bootstrap_node: true
      runs:
        - octez_node
        - baker
        - accuser
        - vdf
      readiness_probe: false
      storage_size: 10Gi
    # Overwrite default values.yaml rolling-node
    rolling-node: null

  snapshot_source: ""
  full_snapshot_url: null
  rolling_snapshot_url: null
  rolling_tarball_url: null
  archive_tarball_url: null

  tezos_k8s_images:
    utils: mavrykdynamics/mavryk-k8s-utils:6.22.1

  images:
    octez: mavrykdynamics/mavryk:v18.3

  protocols:
    - command: PtAtLasL
      vote:
        liquidity_baking_toggle_vote: "pass"

  bootstrap_peers: []
  #   - mumbainet.visualtez.com

  ingress:
    enabled: true
    host: "basenet.mavryk.network"
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/ssl-redirect: 'false'
    className: ""
    labels: {}
    pathType: Prefix
    tls:
      - hosts:
          - 'basenet.mavryk.network'
        secretName: 'basenet-tls'

  # serviceMonitor:
  #   enabled: true
  #   labels:
  #     release: my-monitoring-release

  indexers:
    tzkt:
      images:
        #TODO: Refactor Tezos Chain helm chart to implement the MavrykNode variable
        api: "mavrykdynamics/tzkt-api:1.12.4"
        indexer: "mavrykdynamics/tzkt-sync:1.12.4"
        postgres: "postgres:13"

      ## Database volumeClaimTemplates config
      storageClassName: ""
      storage: "10Gi"

      ## Indexer replicas
      replicas: 1

      db:
        # By default creates a postgres db container. Setting to true won't create
        # it and instead expects credentials for an external postgres database.
        isExternal: false
        ## Tzkt provides new snapshots as they update their code. Update your
        ## indexers by specifying new docker image tags and by using the matching
        ## snapshot_url. Spin up an additional replica if you only have one to
        ## avoid downtime. See tzkt's readme for public networks' db snapshot urls.
        ## If you want to index a brand new archive node you are spinning up, just
        ## let the indexer start syncing with it from scratch.
        ## https://github.com/baking-bad/tzkt
        snapshot_url: null
        host: localhost
        port: 5432
        name: db
        user: foo
        password: bar
        command_timeout: 600

      ## Configurable tzkt fields
      config:
        ## RPC url of the node to index. A rolling node is sufficient if the
        ## indexer is bootstrapped from the most recent snapshot. Otherwise an
        ## archive node is needed.
        rpc_url: http://mavryk-baking-node.mavryk-basenet.svc.cluster.local:8732
        api_log_level: Debug
        indexer_log_level: Debug

tezos-faucet:
  # Faucet backend: https://github.com/oxheadalpha/tezos-faucet-backend
  # Faucet frontend: https://github.com/oxheadalpha/tezos-faucet

  images:
    tezosFaucet: ghcr.io/oxheadalpha/tezos-faucet:2.2.1
    tezosFaucetBackend: ghcr.io/oxheadalpha/tezos-faucet-backend:2.2.0

  # Frontend app configuration. You can optionally deploy only the faucet backend.
  enableUI: true
  config:
    application:
      name: "Mavryk Faucet"
      googleCaptchaSiteKey: "" # 6LefC8QmAAAAAIX...
      # Default value assumes faucet backend is available on localhost.
      backendUrl: https://faucet.mavryk.network
      githubRepo: https://github.com/mavryk-network/mavryk-faucet
    network:
      name: Basenet
      # Default value assumes node RPC is available on localhost.
      rpcUrl: http://mavryk-baking-node.mavryk-basenet.svc.cluster.local:8732
      faucetAddress: "mv1V4h45W3p4e1sjSBvRkK2uYbvkTnSuHg8g" # mv1PW...
      viewer: "" # https://network.tzstats.com
    # The minimum Tez allowed per request.
    minTez: 1
    # The maximum Tez allowed per request.
    maxTez: 6000

  # Value the server sets for the "Access-Control-Allow-Origin" header for CORS.
  authorizedHost: "*"
  # RPC url for the faucet backend. Default value assumes tezos-k8s created an RPC
  # service in the same namespace. If not set, defaults to `config.network.rpcUrl`.
  backendRpcUrl: http://mavryk-baking-node.mavryk-basenet.svc.cluster.local:8732
  # If the backend requires CAPTCHA tokens to be submitted.
  enableCaptcha: false
  # Faucet won't dispense to an address if its balance will exceed this. Not
  # capped by default.
  maxBalance: null
  # Set to true to disable the requirement of solving PoW challenges.
  disableChallenges: true
  # Minimum number of challenges required for the minimum Tez request.
  minChallenges: 1
  # Maximum number of challenges required for the maximum Tez request.
  maxChallenges: 550
  # Maximum number of challenges required for the maximum Tez request when a
  # captcha is used.
  maxChallengesWithCaptcha: 66
  # How many bytes the challenge string should be.
  challengeSize: 2048
  # Difficulty level for challenges.
  difficulty: 4

  # Config for the Redis backend for the PoW challenges. Redis is not needed if
  # challenges are disabled.
  redis:
    url: "" # redis://redis-master.redis:6379
    password: ""

  # Secrets
  googleCaptchaSecretKey: "" # 6LefC8QmAAAAAPH...
  faucetPrivateKey: "inside_sealed_secret" # edsk3X...

  ingress:
    enabled: true
    className: ""
    annotations:
      "kubernetes.io/ingress.class": "nginx"
      "cert-manager.io/cluster-issuer": "letsencrypt-prod"
      "nginx.ingress.kubernetes.io/ssl-redirect": "false"
    host: "faucet.mavryk.network" # fill in the faucet hostname
    tls:
     - secretName: faucet-tls
       hosts:
         - faucet.mavryk.network

  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""

  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL

  serviceAccount:
    create: true
    annotations: {}
    name: mavryk-faucet

  nodeSelector: {}

  tolerations: []

  affinity: {}

