tezos-chain:
  accounts:
    mavryk:
      # mv1V4h45W3p4e1sjSBvRkK2uYbvkTnSuHg8g
      key: edskS1oSBMgeLzU7dHxizjswEJipSXMoa1yA668v5bSZwPYAADC71qSwsdXXGSbBtA8eej5XJHCTxD96w9KG36FyrhVdxbNenw
      is_bootstrap_baker_account: true
      bootstrap_balance: '9700000000000'
      
  node_config_network:
    activation_account_name: mavryk
    chain_name: TEZOS_BASENET_2023-08-29T14:09:05Z
    genesis:
      block: BLockGenesisGenesisGenesisGenesisGenesisfc3ddfTxTo8
      protocol: Ps9mPmXaRzmzk35gbAYNCAw6UXdE2qoABTHbN2oEEc1qM7CwT9P
      timestamp: "2023-08-29T14:09:05Z"

  activation:
    protocol_hash: ProtoALphaALphaALphaALphaALphaALphaALphaALphaDdp3zK
    protocol_parameters:
      preserved_cycles: 2
      blocks_per_cycle: 8
      blocks_per_commitment: 4
      nonce_revelation_threshold: 4
      blocks_per_stake_snapshot: 4
      cycles_per_voting_period: 8
      hard_gas_limit_per_operation: '1040000'
      hard_gas_limit_per_block: '2600000'
      proof_of_work_threshold: '4611686018427387903'
      minimal_stake: '6000000000'
      vdf_difficulty: '50000'
      seed_nonce_revelation_tip: '125000'
      origination_size: 257
      baking_reward_fixed_portion: '333333'
      baking_reward_bonus_per_slot: '3921'
      endorsing_reward_per_slot: '2604'
      cost_per_byte: '250'
      hard_storage_limit_per_operation: '60000'
      quorum_min: 2000
      quorum_max: 7000
      min_proposal_quorum: 500
      liquidity_baking_subsidy: '83333'
      liquidity_baking_toggle_ema_threshold: 1000000000
      max_operations_time_to_live: 240
      minimal_block_delay: '8'
      delay_increment_per_round: '1'
      consensus_committee_size: 256
      consensus_threshold: 0
      minimal_participation_ratio:
        numerator: 2
        denominator: 3
      max_slashing_period: 2
      frozen_deposits_percentage: 5
      double_baking_punishment: '640000000'
      ratio_of_frozen_deposits_slashed_per_double_endorsement:
        numerator: 1
        denominator: 2
      cache_script_size: 100000000
      cache_stake_distribution_cycles: 8
      cache_sampler_state_cycles: 8
      tx_rollup_enable: false
      tx_rollup_origination_size: 4000
      tx_rollup_hard_size_limit_per_inbox: 500000
      tx_rollup_hard_size_limit_per_message: 5000
      tx_rollup_max_withdrawals_per_batch: 15
      tx_rollup_commitment_bond: '10000000000'
      tx_rollup_finality_period: 40000
      tx_rollup_withdraw_period: 40000
      tx_rollup_max_inboxes_count: 40100
      tx_rollup_max_messages_per_inbox: 1010
      tx_rollup_max_commitments_count: 80100
      tx_rollup_cost_per_byte_ema_factor: 120
      tx_rollup_max_ticket_payload_size: 2048
      tx_rollup_rejection_max_proof_size: 30000
      tx_rollup_sunset_level: 3473409
      dal_parametric:
        feature_enable: false
        number_of_slots: 16
        attestation_lag: 1
        attestation_threshold: 50
        blocks_per_epoch: 2
        redundancy_factor: 8
        page_size: 128
        slot_size: 32768
        number_of_shards: 64
      smart_rollup_enable: true
      smart_rollup_arith_pvm_enable: false
      smart_rollup_origination_size: 6314
      smart_rollup_challenge_window_in_blocks: 80640
      smart_rollup_stake_amount: '10000000000'
      smart_rollup_commitment_period_in_blocks: 60
      smart_rollup_max_lookahead_in_blocks: 172800
      smart_rollup_max_active_outbox_levels: 80640
      smart_rollup_max_outbox_messages_per_level: 100
      smart_rollup_number_of_sections_in_dissection: 32
      smart_rollup_timeout_period_in_blocks: 40320
      smart_rollup_max_number_of_cemented_commitments: 5
      smart_rollup_max_number_of_parallel_games: 32
      zk_rollup_enable: false
      zk_rollup_origination_size: 4000
      zk_rollup_min_pending_to_process: 10

  nodes:
    mavryk-baking-node:
      instances:
        - bake_using_accounts:
            - mavryk
          config:
            shell:
              history_mode: archive
            rpc:
              cors-headers: [ "content-type" ]
              cors-origin: [ "*" ]
          is_bootstrap_node: true
      runs:
        - octez_node
        - baker
        - accuser
        - vdf
      readiness_probe: false
      storage_size: 10Gi
    # Overwrite default values.yaml rolling-node
    rolling-node: null

  full_snapshot_url: null
  rolling_snapshot_url: null
  rolling_tarball_url: null
  archive_tarball_url: null

  tezos_k8s_images:
    utils: mavrykdynamics/mavryk-k8s-utils:6.22.0

  images:
    octez: mavrykdynamics/mavryk:v0.1.0

  protocols:
    - command: alpha
      vote:
        liquidity_baking_toggle_vote: "pass"

  bootstrap_peers: []
  #   - mumbainet.visualtez.com

  ingress:
    enabled: true
    host: "basenet.mavryk.network"
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/ssl-redirect: 'false'
    className: ""
    labels: {}
    pathType: Prefix
    tls:
      - hosts:
          - 'basenet.mavryk.network'
        secretName: 'basenet-tls'

  indexers:
    tzkt:
      images:
        api: "mavrykdynamics/tzkt-api:v0.0.1"
        indexer: "mavrykdynamics/tzkt-sync:v0.0.1"
        postgres: "postgres:13"

      ## Database volumeClaimTemplates config
      storageClassName: ""
      storage: "10Gi"

      ## Indexer replicas
      replicas: 1

      db:
        # By default creates a postgres db container. Setting to true won't create
        # it and instead expects credentials for an external postgres database.
        isExternal: false
        ## Tzkt provides new snapshots as they update their code. Update your
        ## indexers by specifying new docker image tags and by using the matching
        ## snapshot_url. Spin up an additional replica if you only have one to
        ## avoid downtime. See tzkt's readme for public networks' db snapshot urls.
        ## If you want to index a brand new archive node you are spinning up, just
        ## let the indexer start syncing with it from scratch.
        ## https://github.com/baking-bad/tzkt
        snapshot_url: null
        host: localhost
        port: 5432
        name: db
        user: foo
        password: bar
        command_timeout: 600

      ## Configurable tzkt fields
      config:
        ## RPC url of the node to index. A rolling node is sufficient if the
        ## indexer is bootstrapped from the most recent snapshot. Otherwise an
        ## archive node is needed.
        rpc_url: http://mavryk-baking-node.mavryk-basenet.svc.cluster.local:8732
        api_log_level: Debug
        indexer_log_level: Debug
