---
- name: Find main config file
  ansible.builtin.command: bash -c "psql -U postgres -t -c 'SHOW config_file' | sed 's/ //g' "
  become: true
  become_user: postgres
  ignore_errors: true
  register: pg_main_conf

- name: Was main config file found
  debug: var=pg_main_conf.stdout

- name: Find hba file
  ansible.builtin.command: bash -c "psql -U postgres -t -c 'SHOW hba_file' | sed 's/ //g' "
  become: true
  become_user: postgres
  ignore_errors: true
  register: pg_hba_conf

- name: Was main config file found
  debug: var=pg_hba_conf.stdout

- name: Postgresql should listen on all ports
  become: true
  become_user: postgres
  lineinfile: dest="{{ pg_main_conf.stdout }}"
    regexp="^listen_addresses"
    line="listen_addresses = '*'"
    state=present

- name: Postgresql should accept 60 connections
  become: true
  become_user: postgres
  lineinfile: dest="{{ pg_main_conf.stdout }}"
    regexp="^max_connections"
    line="max_connections = 60"
    state=present

- name: Postgresql should allow access to host
  become: true
  become_user: postgres
  copy:
    dest: '{{ pg_hba_conf.stdout }}'
    content: |
      local   all   postgres   trust 
      local   all   all        trust
      host    all   all        0.0.0.0/0   md5

- name: Restart PostgreSQL
  ansible.builtin.systemd:
    name: postgresql
    state: restarted
    enabled: yes

- name: Update repositories cache and install requirements
  ansible.builtin.apt:
    pkg:
      - python3-pip
      - libpq-dev
    update_cache: yes

- name: Make sure psycopg2 is installed
  pip:
    name: psycopg2
    state: present

- name: Create the dipdup database
  become: true
  become_user: postgres
  community.postgresql.postgresql_db:
    name: dipdup
    state: present

- name: Add the TimescaleDB extension to the dipdup database
  become: true
  become_user: postgres
  community.postgresql.postgresql_ext:
    name: timescaledb
    db: dipdup

- name: Create the dipdup dev database
  become: true
  become_user: postgres
  community.postgresql.postgresql_db:
    name: dipdup-dev
    state: present

- name: Add the TimescaleDB extension to the dipdup dev database
  become: true
  become_user: postgres
  community.postgresql.postgresql_ext:
    name: timescaledb
    db: dipdup-dev

- name: Create the dipdup user
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: dipdup
    password: "{{ lookup('ansible.builtin.env', 'POSTGRES_PASSWORD') }}"
    role_attr_flags: SUPERUSER,CREATEDB,CREATEROLE,REPLICATION,BYPASSRLS,LOGIN

- name: Grant privs to dipdup user on dipdup database
  become: true
  become_user: postgres
  community.postgresql.postgresql_privs:
    db: dipdup
    privs: ALL
    type: database
    role: dipdup

- name: Grant privs to dipdup user on dipdup dev database
  become: true
  become_user: postgres
  community.postgresql.postgresql_privs:
    db: dipdup-dev
    privs: ALL
    type: database
    role: dipdup
