---
- name: Update repositories cache and install TimescaleDB requirements
  ansible.builtin.apt:
    pkg:
      - gnupg
      - postgresql-common
      - apt-transport-https
      - lsb-release
      - wget
    update_cache: yes

- name: Run the PostgreSQL repository setup script
  ansible.builtin.command: echo -e “\n” | sh /usr/share/postgresql-common/pgdg/apt.postgresql.org.sh

- name: Add TimescaleDB repository into sources list
  ansible.builtin.shell: echo "deb https://packagecloud.io/timescale/timescaledb/ubuntu/ $(lsb_release -c -s) main" > /etc/apt/sources.list.d/timescaledb.list

- name: Add TimescaleDB apt signing key
  ansible.builtin.apt_key:
    url: https://packagecloud.io/timescale/timescaledb/gpgkey
    state: present

- name: Update repositories cache and install "timescaledb-2-postgresql-14" package
  ansible.builtin.apt:
    name: timescaledb-2-postgresql-14
    update_cache: yes

- name: Configure TimescaleDB
  ansible.builtin.shell:
    cmd: timescaledb-tune
    stdin: |
      y
      y
      y
      y
      y
      y
