name: Mavryk Indexer Updater
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: 'Environment to update'
        required: true
        default: 'dev'
        options:
          - dev
          - prod
          - prod2
      imageTag:
        type: string
        required: true
        description: 'Dipdup image tag'
      buildImage:
        type: boolean
        default: false
        required: false
        description: '(optional) Build indexer docker image'
      prodService:
        type: choice
        description: 'Service to link to api.mavryk.io'
        required: true
        default: 'hasura-prod'
        options:
          - hasura-dev
          - hasura-prod
          - hasura-prod2
      wipeDatabase:
        type: boolean
        default: false
        required: false
        description: '(optional) Wipe database (needed when schema changed)'
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        if: '${{ github.event.inputs.buildImage == true }}'
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        if: '${{ github.event.inputs.buildImage == true }}'
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        if: '${{ github.event.inputs.buildImage == true }}'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        if: '${{ github.event.inputs.buildImage == true }}'
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        if: '${{ github.event.inputs.buildImage == true }}'
        uses: docker/build-push-action@v3
        with:
          context: '{{defaultContext}}:src/indexer/'
          push: true
          tags: tezosdynamics/mavryk-indexer:${{ github.event.inputs.imageTag }}
  setup-app:
    runs-on: ubuntu-latest
    steps:
      - name: extract-branch-name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: update-docker-image
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app set prod-mavryk-indexer
          options: -p instances.${{ github.event.inputs.environment }}.dipdup.image.tag=${{ github.event.inputs.imageTag }} --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
      - name: update-ingress
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app set prod-mavryk-indexer
          options: -p instances.prod.hasura.ingress.service.name=${{ github.event.inputs.prodService }} --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
      - name: create-wipe-database-job
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app set prod-mavryk-indexer
          options: -p instances.${{ github.event.inputs.environment }}.dipdup.initialWipe=${{ github.event.inputs.wipeDatabase }} --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
  dry-run-sync:
    runs-on: ubuntu-latest
    needs: [docker, setup-app]
    steps:
      - name: extract-branch-name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: dry-run-sync
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app sync prod-mavryk-indexer
          options: --grpc-web --server ${{ secrets.ARGOCD_URL }} --dry-run --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
  sync:
    runs-on: ubuntu-latest
    needs: dry-run-sync
    steps:
      - name: extract-branch-name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: sync
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app sync prod-mavryk-indexer
          options: --grpc-web --server ${{ secrets.ARGOCD_URL }} --prune --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
