name: Mavryk Indexer Updater
on:
  workflow_dispatch:
    inputs:
      revision:
        description: 'Revision'
        required: true
        default: 'staging'
      environment:
        type: choice
        description: 'Environment to update'
        required: true
        default: 'dev'
        options:
          - dev
          - prod
          - prod2
      wipeDatabase:
        type: boolean
        default: false
        required: true
        description: 'True to perform and initial wipe before updating'
      dipdupExtraConfig:
        description: 'Dipdup extra config'
        required: false
jobs:
  dry-run:
    runs-on: ubuntu-latest
    steps:
      - name: config-update
        if: "${{ github.event.inputs.dipdupExtraConfig != '' }}"
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app set prod-mavryk-indexer instances.${{ github.event.inputs.environment }}.dipdup.extraConfig=${{ github.event.inputs.dipdupExtraConfig }}
          options: --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ github.event.inputs.revision }}
