name: Mavryk Indexer Updater
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: 'Environment to update'
        required: true
        default: 'dev'
        options:
          - dev
          - staging
          - prod
          - prod2
      imageTag:
        type: string
        required: true
        description: 'Dipdup image tag'
      prodService:
        type: choice
        description: 'Service to link to api.mavryk.io'
        required: true
        default: 'hasura-prod'
        options:
          - hasura-dev
          - hasura-staging
          - hasura-prod
          - hasura-prod2
      wipeDatabase:
        type: boolean
        default: false
        required: false
        description: '(optional) Wipe database (needed when schema changed)'
jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: '{{defaultContext}}:src/indexer/mavryk/deploy/'
          push: true
          tags: mavrykdynamics/mavryk-indexer:${{ github.event.inputs.imageTag }}
  setup-app:
    runs-on: ubuntu-latest
    needs: build-docker-image
    steps:
      - name: extract-branch-name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: argocd-github-auth
        uses: clowdhaus/argo-cd-action/@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: 2.5.2
          command: version
          options: --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }}
      - name: update-docker-image
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app set prod-mavryk-indexer
          options: -p instances.${{ github.event.inputs.environment }}.dipdup.image.tag=${{ github.event.inputs.imageTag }} --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
      - name: update-ingress
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app set prod-mavryk-indexer
          options: -p instances.prod.hasura.ingress.service.name=${{ github.event.inputs.prodService }} --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
      - name: reset-all-env-wipe
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app set prod-mavryk-indexer
          options: -p instances.dev.dipdup.initialWipe=False -p instances.prod.dipdup.initialWipe=False -p instances.prod2.dipdup.initialWipe=False --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
      - name: create-wipe-database-pod
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app set prod-mavryk-indexer
          options: -p instances.${{ github.event.inputs.environment }}.dipdup.initialWipe=${{ github.event.inputs.wipeDatabase }} --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
  sync:
    runs-on: ubuntu-latest
    needs: setup-app
    steps:
      - name: extract-branch-name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: argocd-github-auth
        uses: clowdhaus/argo-cd-action/@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: 2.5.2
          command: version
          options: --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }}
      - name: sync
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app sync prod-mavryk-indexer
          options: --grpc-web --server ${{ secrets.ARGOCD_URL }} --prune --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
