name: Mavryk Indexer Updater
on:
  workflow_dispatch:
    inputs:
      revision:
        description: 'Revision'
        required: true
        default: 'staging'
      environment:
        description: 'Environment'
        required: true
        default: 'dev'
jobs:
  dry-run:
    runs-on: ubuntu-latest
    steps:
      - uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: version
          options: --client --auth-token ${{ secrets.ARGOCD_TOKEN }}
