name: Mavryk Indexer Updater
on:
  workflow_dispatch:
    inputs:
      revision:
        description: 'Revision'
        required: true
        default: 'staging'
      environment:
        type: choice
        description: 'Environment to update'
        required: true
        default: 'dev'
        options:
          - dev
          - prod
          - prod2
      prodService:
        type: choice
        description: 'Service to link to api.mavryk.io'
        required: true
        default: 'hasura-prod'
        options:
          - hasura-prod
          - hasura-prod2
      wipeDatabase:
        type: boolean
        default: false
        required: false
        description: '(optional) Wipe database (needed when schema changed)'
jobs:
  dry-run:
    runs-on: ubuntu-latest
    steps:
      - name: ingress-update
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app set prod-mavryk-indexer
          options: -p instances.prod.hasura.ingress.service.name=${{ github.event.inputs.prodService }} --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ github.event.inputs.revision }}
