name: Mavryk Indexer Updater
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: 'Environment to update'
        required: true
        default: 'dev'
        options:
          - dev
          - staging
          - prod
      imageTag:
        type: string
        required: true
        description: 'Dipdup image tag'
      wipeDatabase:
        type: boolean
        default: false
        required: false
        description: '(optional) Wipe database (needed when schema changed)'
      skipBuild:
        type: boolean
        default: false
        required: false
        description: '(optional) Skip image building job'
jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    if: ${{ !github.event.inputs.skipBuild }}
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: '{{defaultContext}}:src/indexer/'
          push: true
          tags: mavrykdynamics/mavryk-indexer:${{ github.event.inputs.imageTag }}
  setup-app:
    runs-on: ubuntu-latest
    needs: build-docker-image
    if: always() && (needs.build-docker-image.result == null || needs.build-docker-image.result == 'success' || needs.build-docker-image.result == 'cancelled')
    steps:
      - name: extract-branch-name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: argocd-github-auth
        uses: clowdhaus/argo-cd-action/@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: 2.8.0
          command: version
          options: --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }}
      - name: update-docker-image
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.8.0
          command: app set prod-mavryk-finance-indexer
          options: -p dipdup.${{ github.event.inputs.environment }}.image.tag=${{ github.event.inputs.imageTag }} --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
      - name: reset-all-env-wipe
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.8.0
          command: app set prod-mavryk-finance-indexer
          options: -p dipdup.dev.initialWipe=False -p dipdup.prod.initialWipe=False -p dipdup.staging.initialWipe=False --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
      - name: create-wipe-database-pod
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.8.0
          command: app set prod-mavryk-finance-indexer
          options: -p dipdup.${{ github.event.inputs.environment }}.initialWipe=${{ github.event.inputs.wipeDatabase }} --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
  sync:
    runs-on: ubuntu-latest
    needs: setup-app
    steps:
      - name: extract-branch-name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: argocd-github-auth
        uses: clowdhaus/argo-cd-action/@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: 2.8.0
          command: version
          options: --grpc-web --server ${{ secrets.ARGOCD_URL }} --auth-token ${{ secrets.ARGOCD_TOKEN }}
      - name: sync
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.8.0
          command: app sync prod-mavryk-finance-indexer
          options: --grpc-web --server ${{ secrets.ARGOCD_URL }} --prune --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ steps.extract_branch.outputs.branch }}
