name: Mavryk Indexer Updater
on:
  workflow_dispatch:
    inputs:
      revision:
        description: 'Revision'
        required: true
        default: 'staging'
      environment:
        description: 'Environment'
        required: true
        default: 'dev'
jobs:
  dry-run:
    runs-on: ubuntu-latest
    steps:
      - name: get-version
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: version
          options: --auth-token ${{ secrets.ARGOCD_TOKEN }}
      - name: list-app
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app list
          options: --auth-token ${{ secrets.ARGOCD_TOKEN }}
      - name: dry-run-sync
        uses: clowdhaus/argo-cd-action/@v1.9.0
        with:
          version: 2.5.2
          command: app sync prod-mavryk-indexer
          options: --dry-run --server-side --prune --auth-token ${{ secrets.ARGOCD_TOKEN }} --revision ${{ github.event.inputs.revision }}
