name: Maven Indexer Builder
on:
  push:
    branches:
      - 'main'
      - 'staging'
    tags:
      - '*.*.*'
  pull_request:
    branches:
      - 'main'
      - 'staging'
      - 'maven-migration'
jobs:
  build-docker-image:
    name: Build indexer image
    runs-on: ubuntu-latest
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
      DOCKER_REGISTRY: ghcr.io
      DOCKER_IMAGE_BASE: ${{ github.repository }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3 

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Indexer image tags & labels
        id: meta-indexer
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_IMAGE_BASE }}-indexer

      - name: Indexer image build & push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: src/indexer/Dockerfile
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta-indexer.outputs.tags }}
          labels: ${{ steps.meta-indexer.outputs.labels }}
